In [1]:
import numpy as np
from imblearn.over_sampling import SMOTE
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import LabelEncoder , OneHotEncoder , OrdinalEncoder

# --------------------------------------------------------------------------------------------------------

In [2]:
pd.set_option('display.max_columns',None)
df = pd.read_excel(r'C:\Users\HP\Downloads\CHURNDATA (1).xlsx')
df.head()

,CIF,CUS_DOB,AGE,CUS_Month_Income,CUS_Gender,CUS_Marital_Status,CUS_Customer_Since,YEARS_WITH_US,# total debit transactions for S1,# total debit transactions for S2,# total debit transactions for S3,total debit amount for S1,total debit amount for S2,total debit amount for S3,# total credit transactions for S1,# total credit transactions for S2,# total credit transactions for S3,total credit amount for S1,total credit amount for S2,total credit amount for S3,total debit amount,total debit transactions,total credit amount,total credit transactions,total transactions,CUS_Target,TAR_Desc,Status
0,XXXXXX,Feb 13 1970 12:00AM,49,7116.64,MALE,MARRIED,1994-06-30,25,277,265,345,1459126.64,1230543.08,2068641.91,10,24,31,1516981.10,1764079.61,2378592.62,4758311.63,887,5659653.33,65,952,2231,EXECUTIVE,ACTIVE
1,XXXXXX,Sep 20 1973 12:00AM,46,1500000.00,FEMALE,SINGLE,2005-05-19,14,37,15,45,35372.55,20134.00,83856.67,2,4,4,10000.00,19500.00,57500.00,139363.22,97,87000.00,10,107,2223,LOW,ACTIVE
2,XXXXXX,Jul 18 1966 12:00AM,53,5000000.00,FEMALE,SINGLE,2005-05-20,14,31,14,8,28248.85,4777.66,4348.95,14,8,5,709625.00,240311.84,70946.86,37375.46,53,1020883.70,27,80,2222,MIDLE,ACTIVE
3,XXXXXX,Jan 9 2004 12:00AM,15,500.00,FEMALE,SINGLE,2005-05-20,14,0,1,0,0.00,4000.00,0.00,5,4,3,30103.05,28089.99,18753.92,4000.00,1,76946.96,12,13,2223,LOW,ACTIVE
4,XXXXXX,Mar 7 1971 12:00AM,48,9000000.00,FEMALE,SINGLE,2014-06-30,5,15,33,12,69083.38,223007.51,46379.40,8,7,6,195600.00,176000.00,70500.00,338470.29,60,442100.00,21,81,2223,LOW,ACTIVE

In [3]:
del df['CIF']
del df['CUS_DOB']

In [4]:
# knn imputer
from sklearn.impute import SimpleImputer , KNNImputer
knn  = KNNImputer()
simple_imputer = SimpleImputer(strategy='most_frequent')
df['CUS_Month_Income'] = knn.fit_transform(df[['CUS_Month_Income']])
df['CUS_Gender'] = simple_imputer.fit_transform(df[['CUS_Gender']])

In [5]:
#ordinal encoding
df['TAR_Desc'] = df['TAR_Desc'].map({'LOW':0 , 'MIDLE':1,'EXECUTIVE':3,'PLATINUM':2})

In [6]:
le_cols = [ 'Status','CUS_Marital_Status'] # gender col - one hot
one_hot_cols  = ['CUS_Gender']


#encoding
import numpy as np
def encoder(ordinal_cols =None , one_hot_cols = None,le_cols = None  , df=df):

    from sklearn.preprocessing import LabelEncoder , OneHotEncoder , OrdinalEncoder
    le = LabelEncoder()
    od = OrdinalEncoder()
    one_hot = OneHotEncoder(handle_unknown='ignore',sparse =False)
    if ordinal_cols:
        for x in ordinal_cols:
            df[x] = od.fit_transform(df[[x]])
        #print(od.categories_)
    if one_hot_cols:
        for x in one_hot_cols:
            data = one_hot.fit_transform(df[[x]])
            cols = np.array(one_hot.categories_)[0 ,:].tolist()


            enc_data = pd.DataFrame(data , columns = cols)
            del df[x]

            df = df.join(enc_data)
    if le_cols:
        for x in le_cols:
            df[x] = le.fit_transform(df[x])

    return df

df = encoder(one_hot_cols=one_hot_cols , le_cols=le_cols,df=df)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
from sklearn.model_selection import train_test_split
X =  df.drop(['Status'],axis= 1)
y = df['Status']
X_train , X_test ,y_train , y_test = train_test_split(X,y, test_size = 0.2)
X_train.shape , y_train.shape

((999, 30), (999,))

In [8]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
#X_transformed  = ss.fit_transform(X)
X_train_transformed = ss.fit_transform(X_train)
X_test_transformed = ss.fit_transform(X_test)

TypeError: The DType <class 'numpy.dtype[datetime64]'> could not be promoted by <class 'numpy.dtype[float64]'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtype[int64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[int32]'>, <class 'numpy.dtype[datetime64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[int64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>, <class 'numpy.dtype[float64]'>)